.sk {
   background-color: #93a2b5;
   border-radius: 5px;
   margin-block: 7px;
   display: inline-block;
   position: relative;
   overflow: hidden;
    animation: piscar 0.7s alternate-reverse infinite ease-in-out;
}

.sk::after {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   transform: translateX(-100%);
   background-color: white;
   animation: shimmer 1s infinite alternate-reverse;
   content: "";
}

@keyframes shimmer {
   100% {
      transform: translateX(100%);
   }
}

@keyframes piscar {
   from {
      opacity: 0.4;
   }
   to {
      opacity: 1;
   }
}

.sk.titulo {
   width: 50%;
   height: 25px;
   margin-bottom: 15px;
}

.sk.texto {
   width: 100%;
   height: 16px;
}

.sk.albumCard {
   width: 268px;
   height: 270px;
   border-radius: 10px;
}

.sk.imgPeq {
   width: 80px;
   height: 80px;
   border-radius: 20px;
}

.sk.imgCircular {
   width: 160px;
   height: 160px;
   border-radius: 50%;
   margin-bottom: 1em;
}

.sk.categoriaBox {
   height: 160px;
   margin-left: 1em;
   border-radius: 10px;
}
