.sk {
   background-color: #93a2b5;
   border-radius: 5px;
   margin-block: 7px;
   display: inline-block;
   max-width: 100%;
   position: relative;
   overflow: hidden;
   animation: piscar 0.7s alternate-reverse infinite ease-in-out;
}

.sk::after {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   transform: translateX(-100%);
   background: rgb(70, 87, 116);
   background: linear-gradient(180deg, rgba(190, 210, 243, 0.353) 0%, rgba(255, 255, 255, 0.2) 100%);
   animation: shimmer 1s infinite linear alternate-reverse;
   content: "";
}

@keyframes shimmer {
   100% {
      transform: translateX(100%);
   }
}

@keyframes piscar {
   from {
      opacity: 0.4;
   }
   to {
      opacity: 1;
   }
}

.sk.titulo {
   width: 50%;
   height: 25px;
   margin-bottom: 15px;
}

.sk.texto {
   width: 100%;
   height: 16px;
}

.sk.albumCard {
   width: 268px;
   height: 270px;
   border-radius: 10px;
}

.sk.imgPeq {
   width: 80px;
   height: 80px;
   border-radius: 20px;
}

.sk.imgCircular {
   width: 160px;
   height: 160px;
   border-radius: 50%;
   margin-bottom: 1em;
}

.sk.categoriaBox {
   height: 160px;
   margin-left: 1em;
   border-radius: 10px;
}

@media screen and (max-width: 1650px) {
   .sk.imgCircular {
      width: 120px;
      height: 120px;
   }
}

@media screen and (max-width: 1450px) {
   .sk.albumCard {
      max-width: 100%;
      height: 230px;
   }

   .sk.imgCircular {
      width: 100px;
      height: 100px;
      margin-bottom: .7em;

   }

}

@media screen and (max-width: 1257px) {
   .sk.albumCard {
      height: 200px;
   }
}

@media screen and (max-width: 1149px) {
   .sk.albumCard {
      height: 230px;
   }
}

@media screen and (max-width: 990px) {
   .sk.albumCard {
      height: 200px;
      width: 190px;
   }

   .sk.imgCircular {
      width: 80px;
      height: 80px;
      margin-bottom: .3em;

   }
}

@media screen and (max-width: 743px) {
   .sk.albumCard {
      height: 170px;
      width: 160px;
   }
}

@media screen and (max-width: 450px) {
   .sk.albumCard {
      height: 150px;
      width: 140px;
   }

   .sk.imgCircular {
      width: 60px;
      height: 60px;

   }
}
