#ct {
   margin-right: 3em;
   padding: 2em 1em;
   margin-top: 2em;
   background: rgba(39, 53, 77, 0.25);
   box-shadow: 0 8px 32px 0 rgba(32, 34, 66, 0.37);
   backdrop-filter: blur(4px);
   -webkit-backdrop-filter: blur(4px);
   border-radius: 30px;
   display: grid;
   grid-template-columns: 33.3% 33.3% 33.3%;
}

@media screen and (max-width: 1700px) {
   #ct {
      margin-top: 1.4em;
   }
}

@media screen and (max-width: 1200px) {
   #ct {
      margin-right: 1em;
      display: flex;
   }
}

@media screen and (max-width: 1140px) {
   #ct {
      margin-top: 1em;
      padding: 1em 1em;
   }
}

@media screen and (max-width: 750px) {
   #ct {
      gap: 0.5em;
   }
}

#ctMobile {
   display: none;
}

@media screen and (max-width: 650px) {
   #ct {
      display: none;
   }

   #ctMobile {
      display: initial;
   }
}
