#cont {
   padding: 2.2em;
   background-color: #27354d;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   height: 61vh;
   color: var(--cor-texto2);
}

#imgsCont {
   display: flex;
   flex-direction: column;
   position: relative;
   align-items: center;
   justify-content: center;
}

#imgsCont > img {
   border-radius: 30px;
   position: relative;
   z-index: 2;
}

#imgSombra {
   position: absolute;
   top: 3.4em;
   text-align: center;
   z-index: 1;
   -webkit-filter: blur(16px);
   filter: blur(16px);
}

#imgSombra > img {
   width: 90%;
}

#deslizar > h5 {
   margin-top: 1.4em;
   font-size: 1.7em;
}

#animCont {
   overflow-x: hidden;
   width: 100%;
}

#deslizar {
   display: inline-block;
   white-space: nowrap;
   animation: deslizar 12s linear infinite;
   padding-left: 100%;
}

@keyframes deslizar {
   0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(-100%);
   }
}

#cont > p {
   margin-block: 1em;
   font-size: 16px;
}

#cont > span {
   font-size: 13px;
}

@media screen and (max-width: 1700px) {
   #imgSombra {
      top: 2.3em;
   }

   #deslizar > h5 {
      font-size: 1.4em;
   }

   #cont > p {
      font-size: 14px;
   }
}

@media screen and (max-width: 1500px) {
   #cont {
      height: 55vh;
   }
}

@media screen and (max-width: 1140px) {
   #cont {
      height: 57vh;
   }
}

#botaoFechar {
   display: none;
}

@media screen and (max-width: 1000px) {
   #imgSombra {
      top: 1.8em;
   }

   #cont {
      height: 62vh;
   }

   #botaoFechar {
      display: initial;
      font-size: 25px;
   }

   #botaoFechar:hover {
      cursor: pointer;
   }
}

@media screen and (max-width: 650px) {
     
}