.swiper-slide {
    width: fit-content !important;
}

#botoes-slider {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
 }
 
 #botoes-slider > svg {
    font-size: 55px;
    background: linear-gradient(160deg, rgba(70, 87, 116, 0.6278712168461135) 0%, rgba(42, 55, 80, 0.571848807882528) 100%);
    padding: 10px;
    border-radius: 50%;
 }
 
 #botoes-slider > svg:hover {
     cursor: pointer;
     color: var(--cor-tema);
 }