#ct {
   width: 105%;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-inline: auto;
}

#ct > div {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   width: 100%;
}

#imagens {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   width: 100%;
   animation: girar 30s infinite linear;
}

#capa {
   position: absolute;
   z-index: 4;
   border-radius: 50%;
   width: 39%;
}

#imagens > img {
}

@keyframes girar {
   from {
      transform: rotate(0);
   }
   to {
      transform: rotate(359deg);
   }
}

.ativo {
   color: #304d80;
}

@media screen and (max-width: 1700px) {
   #ct {
      width: 108%;
   }
}

@media screen and (max-width: 1500px) {
   #imagens {
      width: 90%;
   }
}

@media screen and (max-width: 1000px) {
   #ct {
      width: 100%;
   }
}
