#ct {
   width: 300px;
   height: 300px;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}

#ct > div {
   position: absolute;
   top: 11.5px;
   width: 92%;
   animation: girar 30s infinite linear;
}

@keyframes girar {
   from {
      transform: rotate(0);
   }
   to {
      transform: rotate(359deg);
   }
}

.ativo {
   color: #304d80;
}
