#ct {
   display: grid;
   grid-template-columns: 63% 37%;
}

#search {
   color: #030d18;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-flow: row nowrap;
   background-color: #93a2b5;
   padding: 8px 0.8em;
   border-radius: 10px;
   transition: box-shadow 0.3s ease;
   margin-bottom: 3em;
}

#baixo {
   display: flex;
   gap: 3em;
}

#search:hover {
   box-shadow: 1px 1px 10px #93a2b5;
}

#search > input {
   outline: none;
   border: none;
   width: 100%;
   font-size: 25px;
   background-color: inherit;
}

#search > input::placeholder {
   color: #030d18;
}

#search > svg {
   font-size: 29px;
   color: #0d2541;
   background-color: transparent;
   border: none;
}

#ct > #right {
   padding-left: 3em;
   text-align: center;
}

#ct > #left > section {
   margin-bottom: 2em;
}

.categCard {
   margin-inline: 1em;
   margin-bottom: 1em;
   transition: all 0.3s ease-out;
}

.categCard:hover {
   cursor: pointer;
   scale: 1.05;
   opacity: 0.7;
}

.categCard > img {
   border-radius: 10px;
}

#categsCt {
   display: grid;
   grid-template-columns: 50% 50%;
   height: 85vh;
   overflow-y: auto;
   scrollbar-width: none;
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}

#categsCt:hover {
   scrollbar-width: thin;
}

#categsCt::-webkit-scrollbar {
   display: none;
}

#esqueleto {
   display: flex;
   gap: 3em;
}
