#ct {
   display: grid;
   grid-template-columns: 65% 35%;
}

#search {
   color: #030d18;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-flow: row nowrap;
   background-color: #93a2b5;
   padding: 8px 0.5em;
   border-radius: 10px;
   transition: box-shadow 0.3s ease;
   margin-bottom: 3em;
}

#search:hover {
   box-shadow: 1px 1px 10px #93a2b5;
}

#search > input {
   outline: none;
   border: none;
   width: 100%;
   font-size: 25px;
   background-color: inherit;
}

#search > svg {
   font-size: 29px;
   color: #0d2541;
   background-color: transparent;
   border: none;
}

#ct > #right {
   padding-left: 1em;
   text-align: end;
}

#ct > #left > section {
   margin-bottom: 5em;
}
