#ct {
   display: grid;
   grid-template-columns: 63% 37%;
}

#search {
   color: #030d18;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-flow: row nowrap;
   background: rgba(147, 162, 181, 0.25);
   box-shadow: 0 8px 32px 0 rgba(48, 48, 54, 0.37);
   border: 1px solid rgb(25, 21, 31);
   backdrop-filter: blur(4px);
   -webkit-backdrop-filter: blur(4px);
   border-radius: 10px;
   padding: 8px 0.8em;
   border-radius: 10px;
   transition: box-shadow 0.3s ease;
   margin-bottom: 2.5em;
}

#baixo {
   display: flex;
   gap: 3em;
}

#search > input {
   outline: none;
   background-color: transparent;
   border: none;
   width: 100%;
   font-size: 25px;
   transition: all 0.3s ease-out;
}

#search > input::placeholder {
   color: #030d18;
   opacity: 1;
}

#search > input:focus {
   box-shadow: 0 0px 32px 0 rgba(36, 36, 88, 0.37);
}

#search > svg {
   font-size: 29px;
   color: #030d18;
   background-color: transparent;
   border: none;
   transition: 0.3s ease-in-out;
}

#search > svg:hover {
   cursor: pointer;
   scale: 1.1;
   transform: rotateZ(350deg);
}

#ct > #right {
   padding-left: 3em;
   text-align: center;
}

#ct > #left > section,
#ct > #left > #searchCt > section {
   margin-bottom: 2em;
}

.categCard {
   margin-inline: 1em;
   margin-bottom: 1em;
   transition: all 0.3s ease-out;
}

.categCard:hover {
   cursor: pointer;
   scale: 1.05;
   opacity: 0.7;
}

#categsCt {
   display: grid;
   grid-template-columns: 50% 50%;
   height: 85vh;
   overflow-y: auto;
   scrollbar-width: none;
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}

#categsCt:hover {
   scrollbar-width: thin;
}

#categsCt::-webkit-scrollbar {
   display: none;
}

#esqueleto {
   display: flex;
   gap: 3em;
}

#fixo {
   border: 1px solid #485662;
   display: grid;
   grid-template-columns: 25% 75%;
   position: absolute;
   bottom: 0;
   padding-left: 4em;
   padding-top: 10px;
   background-color: #1e2b40;
   opacity: 0.8;
   background-image: linear-gradient(30deg, #374760 12%, transparent 12.5%, transparent 87%, #374760 87.5%, #374760),
      linear-gradient(150deg, #374760 12%, transparent 12.5%, transparent 87%, #374760 87.5%, #374760),
      linear-gradient(30deg, #374760 12%, transparent 12.5%, transparent 87%, #374760 87.5%, #374760),
      linear-gradient(150deg, #374760 12%, transparent 12.5%, transparent 87%, #374760 87.5%, #374760),
      linear-gradient(60deg, #37476077 25%, transparent 25.5%, transparent 75%, #37476077 75%, #37476077),
      linear-gradient(60deg, #37476077 25%, transparent 25.5%, transparent 75%, #37476077 75%, #37476077);
   background-size: 18px 32px;
   background-position: 0 0, 0 0, 9px 16px, 9px 16px, 0 0, 9px 16px;
   width: 50%;
   border-radius: 10px;
}

#fixo #left {
   display: flex;
   align-items: end;
   justify-content: center;
}

#ct > #left {
   overflow-y: scroll;
   text-align: start;
   height: inherit;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#ct > #left::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#ct > #left {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}

#fixo #right {
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   padding-left: 3em;
   padding-right: 1em;
}

#fixo #right h3 {
   font-size: 2.3em;
   color: white;
   text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

#fixo #right p {
   margin-top: 1.2em;
   color: white;
   font-size: 1.1em;
   text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

#fixo #right a {
   text-decoration: none;
   color: var(--cor-texto2);
   font-weight: 800;
}

#barra {
   height: 6px;
   border: none;
   background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.55), var(--cor-texto2));
   margin-bottom: 2em;
}

#searchCt {
   margin-top: 2em;
}

#searchCt h2 {
   margin-bottom: 0.4em !important;
}

#ndPesquisado {
   width: 600px;
   margin-top: 3em;
}

.categCard > figure {
   overflow: hidden;
   display: flex;
   flex-flow: column;
   max-height: 220px;
   justify-content: center;
   align-items: center;
   border: 1px solid rgb(81, 103, 129);
   border-radius: 25px;
}

@media screen and (max-width: 1399px) {
}

@media screen and (max-width: 1100px) {
   .categCard > figure {
      max-height: 150px;
      overflow: hidden;
      border-radius: 6px;
      margin-bottom: 5px;
   }
}

@media screen and (max-width: 978px) {
   #search {
      margin-bottom: 1.5em;
   }

   #categsCt {
      display: flex;
      flex-direction: column;
   }

   .categCard > figure {
      max-height: 120px;
   }
}

@media screen and (max-width: 882px) {
}
