#ct {
   color: var(--cor-texto2);
}

.tit1 {
   margin-bottom: 0.8em;
   font-size: 2em;
}

#baixo {
   display: grid;
   grid-template-columns: repeat(5, 20%);
   grid-auto-rows: 1fr;
}

@media screen and (max-width: 1705px) {
   #baixo {
      grid-template-columns: repeat(4, 25%);
   }
}

@media screen and (max-width: 1305px) {
   .tit1 {
      font-size: 1.7em;
   }
}

@media screen and (max-width: 1150px) {
   #baixo {
      grid-template-columns: repeat(3, 33.3%);
   }
}

@media screen and (max-width: 990px) {
   #baixo {
      display: flex;
      flex-flow: row wrap;
      gap: 1em;
   }


}

@media screen and (max-width: 800px) {
   .tit1 {
      font-size: 1.5em;
   }
}

@media screen and (max-width: 550px) {
   .tit1 {
      font-size: 1.2em;
   }
}
