#cont {
   display: grid;
   grid-template-columns: 75% 25%;
   padding-right: 0 !important;
   padding-block: 0 !important;
}

#cont > #left {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-bottom: 1.2em;
   overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#cont > #left::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#cont > #left {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}

#cont > #right {
   display: flex;
   flex-flow: column;
   justify-content: space-between;
}

#destaques {
   margin-right: 3em;
   padding: 2em 1em;
   margin-top: 2em;
   background: rgba(39, 53, 77, 0.25);
   box-shadow: 0 8px 32px 0 rgba(32, 34, 66, 0.37);
   backdrop-filter: blur(4px);
   -webkit-backdrop-filter: blur(4px);
   border-radius: 30px;
   display: grid;
   grid-template-columns: 33.3% 33.3% 33.3%;
}

#antes {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   margin: 0 auto;
}

#antes > img {
   width: 700px;
}

#antes > h2 {
   margin-top: 2em;
}

@media screen and (max-width: 1700px) {
   #destaques {
      margin-top: 1.4em;
   }
}
