#cont {
   display: grid;
   grid-template-columns: 75% 25%;
   padding-right: 0 !important;
   padding-block: 0 !important;
}

#cont > #left {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-bottom: 1.2em;
   overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#cont > #left::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#cont > #left {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}

#cont > #right {
   display: flex;
   flex-flow: column;
   justify-content: space-between;
}



#antes {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   margin: 0 auto;
}

#antes > img {
   width: 700px;
}

#antes > h2 {
   margin-top: 2em;
}



@media screen and (max-width: 1500px) {
   #cont {
      padding-left: 1em !important;
   }
}

@media screen and (max-width: 1200px) {
   #cont {
      padding: 1em;
   }

  
}


.iconeDetalhes {
   display: none;
}
.iconeFila {
   display: none;
}

@media screen and (max-width: 1000px) {
   #cont {
      grid-template-columns: 100%;
   }

   #cont > #right {
      width: 0;
      height: 0;
   }

   #cont > #right > div {
      position: absolute;
      right: 0;
      z-index: 2;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      display: none;
   }

   #cont > #right > .detalhesAtivo,
   #cont > #right > .filaAtivo {
      display: initial;
      opacity: 1;
      top: 15%;
      width: 400px;
      height: fit-content;
      border: 1px solid rgb(81, 103, 129);
      border-right: 0;
      box-shadow: 0 0 5px rgb(81, 103, 129);
      animation: fade 0.3s ease-in-out;
   }

   #cont > #right > .detalhesAtivo > i,
   #cont > #right > .filaAtivo > i {
      display: initial;
      opacity: 1;
      position: absolute;
      top: 8px;
      right: 8px;
   }

   #cont > #right > .filaAtivo {
      height: 400px;
      top: 25%;
   }

   @keyframes fade {
      from {
         transform: translateX(1000px);
      }
      to {
         transform: translateX(0);
      }
   }

   .iconeDetalhes {
      position: absolute;
      right: 0;
      top: 43%;
      font-size: 3em;
      transition: 0.2s ease-in-out;
      background: linear-gradient(160deg, rgba(70, 87, 116, 1) 0%, rgba(42, 55, 80, 1) 100%);
      line-height: 20px;
      padding: 6px;
      padding-top: 3px;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      z-index: 2;
      display: initial !important;
   }

   .iconeFila {
      position: absolute;
      right: 0;
      top: 55%;
      font-size: 3em;
      transition: 0.2s ease-in-out;
      background: linear-gradient(160deg, rgba(70, 87, 116, 1) 0%, rgba(42, 55, 80, 1) 100%);
      line-height: 20px;
      padding: 6px;
      padding-top: 3px;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      z-index: 2;
      display: initial !important;
   }

   .iconeFila:hover,
   .iconeDetalhes {
      cursor: pointer;
   }

   .ativo {
      visibility: visible !important;
      display: flex !important;
      opacity: 1 !important;
   }
}

@media screen and (max-width: 750px) {
 
}
