#cont {
   background-color: #3e61d2;
   opacity: 1;
   color: var(--cor-texto2);
   height: 35vh;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #3e61d2 10px), repeating-linear-gradient(#444cf755, #444cf7);
   padding: 2.2em;
   padding-bottom: 0;
}

.titCt > h4 {
   font-size: 1.7em;
}

.titCt {
   display: flex;
   align-items: center;
   margin-bottom: 1em;
   justify-content: space-between;
}

.ativo {
   font-weight: bold;
   text-shadow: 0 0 3px black;
}

.titCt svg {
   font-size: 1.85rem;
   cursor: pointer;
}

.wrapper {
   overflow-y: auto;
   height: 75%;
   scrollbar-color: #444cf755 233656;
   scrollbar-width: none;
}

.wrapper:hover {
   scrollbar-width: thin;
}

.wrapper::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.wrapper {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}

.wrapper > div {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   transition: all 0.2s ease-in-out;
}

.wrapper > div:hover {
   padding-inline: 0.5em;
   cursor: pointer;
   color: white;
}

.wrapper > div > p {
   margin-bottom: 0.7em;
   width: fit-content;
   font-size: 15px;
}

@media screen and (max-width: 1500px) {
   #cont {
      height: 40vh;
   }

   .titCt > h4 {
      font-size: 1.4em;
   }

   .wrapper > div > p {
      font-size: 14px;
   }
}

@media screen and (max-width: 1140px) {
   #cont {
      height: 35vh;
   }
}

#botaoFechar {
   display: none;
}

@media screen and (max-width: 1000px) {
   #botaoFechar {
      display: initial;
      font-size: 25px;
   }

   #botaoFechar:hover {
      cursor: pointer;
   }

   .titCt {
      margin-bottom: 1em;
   }
}
