#ct {
   display: flex;
   flex-flow: column;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   text-align: center;
   padding-block: 2em;
}

#ct > nav > a {
   color: antiquewhite;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   justify-content: center;
   margin-block: 12%;
   transition: all 0.2s ease-in-out;
   padding: 0.7em;
   border-radius: 20px;
}

#ct > nav > a:hover,
#baixo:hover {
   color: white;
   cursor: pointer;
}

#ct > nav > a > i {
   font-size: 2em;
}

#ct > nav > a > p {
   font-size: 0.9em;
}

.imgCont {
   padding-block: 0 !important;
}

.imgCont > img {
   border-radius: 50%;
   width: 70px;
}

.imgCont > p {
   color: antiquewhite;
   font-weight: 600;
   font-size: 15px;
   letter-spacing: 2px;
   margin-top: 5px;
   text-align: center;
}

#baixo {
   color: antiquewhite;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   justify-content: center;
   transition: all 0.2s ease-in-out;
   padding: 0.7em;
   border-radius: 20px;
}

#baixo > p {
   font-size: 0.9em;
   margin-top: 7.3px;
}

#baixo svg {
   font-size: 2em;
}

/* ------------ Container Mobile ------------*/
#ctMobile {
   display: none;
}

#ctMobile > #left > img {
   width: 200px;
}

@media screen and (max-width: 1139px) {
   #ct {
      display: none;
      height: auto;
      padding-inline: 1em;
   }

   .ativo {
      display: flex !important;
      position: fixed;
      top: 65px;
      bottom: 0;
      left: 0;
      background-color: var(--cor-tema);
      padding-inline: .5em;
      z-index: 2;
   }

   #ct > nav > a {
      padding: 1em 1.7em;
   }

   #ct > nav > a > p {
      display: none;
   }

   #ct > nav > a > i {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
   }

   .imgCont > img {
      width: 60px;
   }

   #ctMobile {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      background-color: aliceblue;
      width: 100%;
      padding-block: 0.6em;
      padding-inline: 1em;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 4;
   }

   #ctMobile > #right {
      color: #321a64;
      font-size: 45px;
   }

   #ctMobile > #right,
   #ctMobile > #left {
      display: flex;
      align-items: center;
   }

   #ctMobile > #right > svg:hover {
      cursor: pointer;
   }
}

@media screen and (max-width: 919px) {
   #ct > nav > a {
      padding: 1em 1.2em;
      border: 1px solid antiquewhite;
   }

}