#container {
   display: flex;
   flex-flow: column;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   text-align: center;
   padding-block: 2em;
}

#container > nav > a {
   color: antiquewhite;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   justify-content: center;
   margin-block: 12%;
   transition: all 0.2s ease-in-out;
   padding: 0.7em;
   border-radius: 20px;
}

#container > nav > a:hover,
#baixo:hover {
   color: white;
   cursor: pointer;
}

#container > nav > a > i {
   font-size: 2em;
}

#container > nav > a > p {
   font-size: 0.9em;
}

.imgCont {
   padding-block: 0 !important;
}

.imgCont > img {
   border-radius: 50%;
   width: 70px;
}

.imgCont > p {
   color: white;
   font-weight: 600;
   font-size: 15px;
   letter-spacing: 2px;
   margin-top: 5px;
   text-align: center;
}



#baixo {
   color: antiquewhite;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   justify-content: center;
   transition: all 0.2s ease-in-out;
   padding: 0.7em;
   border-radius: 20px;
}

#baixo > p {
   font-size: 0.9em;
   margin-top: 7.3px;
}

#baixo svg {
   font-size: 2em;
}
