* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Rubik", sans-serif;
}

img {
   max-width: 100%;
}

a {
   text-decoration: none;
}

.App {
   height: 100vh;
   width: 100vw;
   display: grid;
   grid-template-columns: 140px auto;
   border-radius: 30px;
}

.App > #left {
   background-color: var(--cor-tema);
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
}

.App > #right {
   background-image: linear-gradient(to right, var(--cor-tema), black);
   overflow-y: hidden;
}

.App > #right > div {
   background-color: var(--fundo-body);
   background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #1e2a3e 20px), repeating-linear-gradient(#23365655, #233656);
   border-radius: 30px;
   height: 100%;
   padding: 3em;
}
