* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Rubik", sans-serif;
}

img {
   max-width: 100%;
}

a {
   text-decoration: none;
}

.App {
   height: 100vh;
   max-height: 100vh;
   display: grid;
   grid-template-columns: 7.5% 92.5%;
   border-radius: 30px;
}

.App > #left {
   background-color: var(--cor-tema);
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
}

.App > #right {
   background-image: linear-gradient(to right, var(--cor-tema), black);
   height: 100vh;
}

.App > #right > div {
   overflow-y: scroll;
   text-align: start;
   height: inherit;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.App > #right > div::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.App > #right > div {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}

.App > #right > div {
   background-color: var(--fundo-body);
   background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #1e2a3e 20px), repeating-linear-gradient(#23365655, #233656);
   border-radius: 30px;
   height: 100%;
   padding: 3em;
}

@media screen and (max-width: 1683px) {
   .App {
      grid-template-columns: 8.5% 91.5%;
   }
}

@media screen and (max-width: 1423px) {
   .App {
      grid-template-columns: 10.5% 89.5%;
   }
}

@media screen and (max-width: 1163px) {
   .App {
      grid-template-columns: 11.5% 88.5%;
   }
}

@media screen and (max-width: 1139px) {
   .App {
      grid-template-columns: 100%;
   }

   .App > #left,
   .App > #right {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
   }

   .App > #right > div {
      border-radius: 0;
   }

   .App > #right {
      padding-top: 2.5em;
   }
}


@media screen and (max-width: 919px) {
   .App > #right > div {
      padding-inline: 1.5em;

   }
}