:root {
   --cor-texto: white;
   --cor-tema: #e39066;
   --fundo-body: #1b2434;
   --cor-texto2: rgb(219, 236, 250);
}

body {
   background-color: black;
   color: var(--cor-texto2);
}

.lottie {
   height: 150px;
   width: 300px;
   margin-inline: 0;
}

@media screen and (max-width: 1700px) {
   .lottie {
      height: 110px;
      width: 220px;
   } 
}

@media screen and (max-width: 1300px) {
   .lottie {
      height: 90px;
      width: 200px;
   } 
}

