:root {
   --cor-texto: white;
   --cor-tema: #e39066;
   --fundo-body: #1b2434;
   --cor-texto2: rgb(219, 236, 250);
}

body {
   background-color: black;
   color: var(--cor-texto);
}

.lottie {
   height: 170px;
   width: 300px;
   margin-inline: 0;
}
