#cont {
   padding-top: 2em;
   padding-right: 2em;
   display: grid;
   grid-template-columns: 25% auto;
   color: var(--cor-texto2);
   grid-template-columns: 320px auto;
}

#cont > #left {
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

#cont > #right {
   display: flex;
   justify-content: center;
   flex-flow: column;
   align-items: center;
}

#cont > #right > h5 {
   font-size: 3.4em;
   text-align: center;
}

#cont > #right > h4 {
   margin-top: 1.9em;
   font-size: 1.3em;
   font-weight: 400;
   margin-bottom: 0em;
   margin-inline: 1.7rem;
   text-align: center;
   display: flex;
   gap: 1.2rem;
   flex-wrap: wrap;
   justify-content: center;
}

#cont > path {
   stroke: red !important;
}

#detalhes {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: center;
   padding-top: 2.5em;
   padding-bottom: 3em;
   gap: 10px;
}

#detalhes > p {
   font-size: 17px;
}

#slider {
   width: 600px;
   cursor: pointer;
}

.artistText, .artistText i {
   display: flex;
   align-items: center;
   gap: 3px;
}

.artistText svg {
   cursor: pointer;
}

@media screen and (max-width: 1700px) {
   #cont > #right > h5 {
      font-size: 2.8em;
   }

   #cont {
      padding-inline: 10px;
      padding-top: 1.5em;
      grid-template-columns: 300px auto;
   }

   #cont > #right > h4 {
      font-size: 1.1em;
      margin-top: 1.7em;
   }

   #slider {
      width: 450px;
   }
}

@media screen and (max-width: 1500px) {
   #cont > #right > h5 {
      font-size: 2.2em;
   }

   #cont {
      grid-template-columns: 270px auto;
   }

   #slider {
      width: 400px;
   }
}

@media screen and (max-width: 1300px) {
   #cont > #right > h5 {
      font-size: 1.9em;
   }

   #cont {
      grid-template-columns: 230px auto;
   }

   #slider {
      width: 300px;
   }

   #detalhes {
      padding-top: 2em;
      padding-bottom: 2em;
   }
}

@media screen and (max-width: 1140px) {
   #cont {
      padding-top: 3em;
   }
}

@media screen and (max-width: 750px) {
   #cont {
      grid-template-columns: 190px auto;
   }

   #cont > #right > h5 {
      font-size: 1.5em;
   }

   #cont > #right > h4 {
      font-size: 1em;
   }
}

@media screen and (max-width: 650px) {
   #cont {
      display: flex;
      flex-direction: column;
      gap: 1em;
      margin-bottom: 2.5em;
   }

   #detalhes {
      padding-top: 2em;
      padding-bottom: 1em;
   }
}

@media screen and (max-width: 450px) {
   #slider {
      width: 200px;
   }
}
